@font-face {
    font-family: light;
    src: url('../fuentes/MyriadPro-Light.otf');
}
@font-face {
    font-family: 'regular';
    src: url('../fuentes/MYRIADPRO-REGULAR.OTF');
}


body{
    padding-right: 10vw;
    background-image: url('../img/fondo.png');
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: quitarfondo 1s forwards;
    animation-delay: 9s;
}

/*
@keyframes mostrar2 {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}

}

@keyframes anima2 {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}


@keyframes quitarfondo {
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1; background-image: none; background-color: white;}
}
*/

.cuadro2{
    border-radius: 3.49vw;
    background-color: white;
    border: solid #707070;
    margin-top: 19vw;
    margin-left: 25vw;
    width: 50vw;
    height: 30vw;
    animation: mostrar2 5s forwards;
    opacity: 0; 
}

.pedrito{
    margin-left: 22.5vw;
    width: 5vw;
    height: 5vw;
}
.logo1{
    margin-top: 2vw;
    margin-left: 22vw;
    width: 6vw;

}
.t1{
    font-size: 1.5vw;
    font-family: "light";
    margin-top: 0vw;
    letter-spacing: 0.3vw;
    text-align: center;

}
.t2{
    font-size: 2vw;
    font-family: 'regular';
    margin-top: 0.5vw;
    text-align: center;

}
.us{
    font-size: 1.1vw;
    font-family: 'light';
    text-align: center;
}
.logos2{
    position: relative;
    top: -25vw;
    left: 44vw;
    width: 10.26vw;
    height: 9.167vw;
    animation: anima2 4s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 5s;
    }
/*
    @keyframes extra {
        0%{opacity: 0;}
        25%{opacity: 0;}
        50%{opacity: 0;}
        75%{opacity: 0;}
        100%{opacity: 1;}
    }
*/

.menu{
    display: flex;
    margin-top: -57vw;
    margin-right: 20vw;
    gap: 1vw;
    justify-content: space-around;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
}

.añadir{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 24px;
}

.logos{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    position: relative;
    width: 1,61 vw;
    height: 1,51 vw;
    left: 4vw;
}

.refrescar{
    justify-content: space-around;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 24px;
}
.eliminar{
    justify-content: space-around;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 24px;
}
.reportar{
    justify-content: space-around;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 24px;
}

.logopeque{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    position: relative;
    width: 1,61 vw;
    height: 1,51 vw;
    left: 2%;
}

.reportar{
    justify-content: space-around;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 24px;
}

.ayuda{
    justify-content: space-around;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 24px;
}

.logoajuste{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    position: relative;
    top: -1.5vw;
    left: 85vw;
}

.notificacion{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    position: relative;
    left: 87vw;
    top: -2.5vw;
}

.pedrito2{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    position: relative;
    top: -5.5vw;
    left: 89vw;
}

.tit1 {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 1.8vw;
    display: flex;
    font-family: "regular";
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tit2 {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 1vw;
    display: flex;
    font-family: "light";
    align-content: center;
    justify-content: center;
    align-items: center;
}

.caja {
    border-radius: 1.5vw;
    border-style: solid;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    border-color: #817f7f;
    margin-bottom: 1vw;
    padding: 1vw;
    margin-left: 2.5vw;
    width: 90%;
    display: grid;
    animation: extra 13s forwards;
    grid-template-columns: 0.4fr 0.4fr 0.2fr 0.4fr 0.4fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

.item {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    padding: 5px;
    font-size: 20px;
    font-family: "light";
    display: flex;
    align-items: center;
}

.cajainvisible {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    margin-bottom: 1vw;
    padding: 1vw;
    margin-left: 2.5vw;
    width: 90%;
    font-size: 1vw;
    font-family: "regular";
    display: grid;
    animation: extra 13s forwards;
    grid-template-columns: 0.4fr 0.4fr 0.2fr 0.4fr 0.4fr 0.2fr 0.2fr 0.2fr 0.2fr;
}