@font-face {
    font-family: light;
    src: url('../fuentes/MyriadPro-Light.otf');
}
@font-face {
    font-family: 'regular';
    src: url('../fuentes/MYRIADPRO-REGULAR.OTF');
}
@media(max-width:430px){
    @keyframes mostrar2 {
        0%{opacity: 0;}
        25%{opacity: 1;}
        50%{opacity: 1;}
        75%{opacity: 1;}
        100%{opacity: 0;}
    
    }
    
    @keyframes anima2 {
        0%{opacity: 0;}
        25%{opacity: 1;}
        50%{opacity: 1;}
        75%{opacity: 1;}
        100%{opacity: 0;}
    
    
    }
    body{
        background-image: url('../img/fondo.png');
        background-color: black;
        background-size: 100vw 220vw;
        background-repeat: no-repeat;
        
    }
    .cuadro2{
        border-radius: 7vw;
        background-color: white;
        border: solid #707070;
        margin-top: 70vw;
        margin-left: 25vw;
        width: 50vw;
        height: 60vw;
        animation: mostrar2 5s forwards;
        opacity: 0; 
    
    }
    .pedrito{
        margin-left: 19vw;
        width: 12vw;
        height: 12vw;
        margin-top: 0vw;
    }
    .logo1{
        margin-top: 2vw;
        margin-left: 20vw;
        width: 9.5vw;
    
    }
    .t1{
        font-size: 2.5vw;
        font-family: light;
        margin-top: 1vw;
        letter-spacing: 0.3vw;
        text-align: center;
    
    }
    .t2{
        font-size: 4vw;
        font-family: 'regular';
        margin-top: 2vw;
        text-align: center;
    
    }
    .us{
        font-size: 2vw;
        font-family: 'light';
        text-align: center;
        margin-top: 2vw;
    }
    .logos2{
        position: relative;
        top: -25vw;
        left: 44vw;
        width: 12vw;
        height: 11vw;
        animation: anima2 4s;
        animation-iteration-count: 1;
        opacity: 0;
        animation-delay: 5s;
        }
}

@media(min-width:431px){
body{
    padding-right: 10vw;
    background-image: url('../img/fondo.png');
    background-color: rgb(0, 0, 0);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: quitarfondo 1s forwards;
    animation-delay: 9s;
}


@keyframes mostrar2 {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}

}

@keyframes anima2 {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}


@keyframes quitarfondo {
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1; background-image: none; background-color: white;}
}

.cuadro2{
    border-radius: 3.49vw;
    background-color: white;
    border: solid #707070;
    margin-top: 19vw;
    margin-left: 25vw;
    width: 50vw;
    height: 30vw;
    animation: mostrar2 3s forwards;
    opacity: 0; 
}

.pedrito{
    margin-left: 22.5vw;
    width: 5vw;
    height: 5vw;
}
.logo1{
    margin-top: 2vw;
    margin-left: 22vw;
    width: 6vw;

}
.t1{
    font-size: 1.5vw;
    font-family: "light";
    margin-top: 0vw;
    letter-spacing: 0.3vw;
    text-align: center;

}
.t2{
    font-size: 2vw;
    font-family: 'regular';
    margin-top: 0.5vw;
    text-align: center;

}
.us{
    font-size: 1.1vw;
    font-family: 'light';
    text-align: center;
}
.logos2{
    position: relative;
    top: -25vw;
    left: 44vw;
    width: 10.26vw;
    height: 9.167vw;
    animation: anima2 4s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 5s;
    }

    @keyframes extra {
        0%{opacity: 0; border-bottom: transparent;}
        25%{opacity: 0; border-bottom: transparent;}
        50%{opacity: 0; border-bottom: transparent;}
        75%{opacity: 0; border-bottom: solid transparent;}
        100%{opacity: 1;}
    }


    
.menu{
    animation: quitarfondo 12s forwards;
    animation: extra 13s forwards;
    margin-top: -57vw;
    border-bottom: +2px solid #707070;
    padding: 0.2vw;
    margin-left: 2.5vw;
    width: 90%;
    font-size: 1vw;
    font-family: "regular";
    display: grid;
    grid-template-columns: 5fr 20fr 5fr 20fr 5fr 20fr 20fr 5fr 20fr 5fr 20fr 4fr 4fr 4fr ;
}

.items {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 1vw;
    font-family: "regular";
    display: flex;
    align-items: center;
}

.logos img{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    width: 1.9vw;
    height: 1.9vw;
    display: flex;
    align-items: center;
    animation: extra 13s forwards;
}

.logos3 img{
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    width: 1vw;
    height: 1vw;
    display: flex;
    align-items: center;
    animation: extra 13s forwards;
}

.letras {
    font-size: 1.13vw;
    width: 1.5vw;
    height: 1.5vw;
    font-size: "regular";
    padding: 0.5vw;
    display: flex;
    align-items: center;
}

.tit1 {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 1.8vw;
    display: flex;
    margin-top: 2vw;
    font-family: "regular";
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tit2 {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    font-size: 1vw;
    display: flex;
    font-family: "light";
    align-content: center;
    justify-content: center;
    align-items: center;
}

.caja {
    border-radius: 1.5vw;
    border-style: solid;
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    border-color: #817f7f;
    margin-bottom: 1vw;
    padding: 1vw;
    margin-left: 2.5vw;
    width: 90%;
    display: grid;
    animation: extra 13s forwards;
    grid-template-columns: 0.4fr 0.4fr 0.2fr 0.4fr 0.4fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

.item {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    animation: extra 13s forwards;
    padding: 5px;
    font-size: 1vw;
    font-family: "light";
    display: flex;
    align-items: center;
}

.cajainvisible {
    animation: quitarfondo 12s forwards;
    animation-delay: 9s;
    margin-bottom: 1vw;
    padding: 1vw;
    margin-left: 2.5vw;
    width: 90%;
    font-size: 1vw;
    font-family: "regular";
    display: grid;
    animation: extra 13s forwards;
    grid-template-columns: 0.4fr 0.4fr 0.2fr 0.4fr 0.4fr 0.2fr 0.2fr 0.2fr 0.2fr;
}}