@font-face {
    font-family: light;
    src: url('../fuentes/MyriadPro-Light.otf');
}
@font-face {
    font-family: 'regular';
    src: url('../fuentes/MYRIADPRO-REGULAR.OTF');
}
body{
    background-image: url('../img/fondo.png');
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
@keyframes anima1 {
    0%{opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    70%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}

}
@keyframes anima2 {
    0%{opacity: 1;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    70%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}

}

.logo{
position: relative;
top: 25vw;
left: 44.375vw;
width: 10.26vw;
height: 9.167vw;
animation: anima1 6s;
animation-iteration-count: 1;
opacity: 0;

}
@keyframes mostrar {
    0%{opacity: 0;}
    100%{opacity: 1;}

}
@keyframes quitar {
    0%{opacity: 1;}
    100%{opacity: 0;}

}

@keyframes mostrar2 {
    0%{opacity: 0;}
    100%{opacity: 1;}

}
.cuadro1{
    border-radius: 3.49vw;
    background-color: white;
    border: solid #707070;
    margin-top: 0vw;
    margin-left: 25vw;
    width: 50vw;
    height: 43vw;
    animation: mostrar 2s forwards;
    
    opacity: 0;
    animation-delay: 6s; 

}
.logo1{
    margin-top: 2vw;
    margin-left: 22vw;
    width: 6vw;

}
.t1{
    font-size: 1.5vw;
    font-family: light;
    margin-top: 0vw;
    letter-spacing: 0.3vw;
    text-align: center;

}
.t2{
    font-size: 2vw;
    font-family: 'regular';
    margin-top: 0.5vw;
    text-align: center;

}
.t3{
    font-family: 'light';
    text-align: center;
    font-size: 1.1vw;
}
.usuario{
    font-family: 'light';
    font-size: 1.4vw;
    margin-left: 8vw;
    margin-top: 0vw;
}
.border1{
    border: solid #707070;
    border-radius: 1.5vw;
    width: 34vw;
    height: 2.6vw;
    margin-left: 8vw;
    margin-top: -1.5vw;
}
.contraseña{
    font-family: 'light';
    font-size: 1.4vw;
    margin-left: 8vw;
    margin-top: 1vw;
}
.border2{
    border: solid #707070;
    border-radius: 1.5vw;
    width: 34vw;
    height: 2.6vw;
    margin-left: 8vw;
    margin-top: -1.5vw;
}
.border_n{
    background-color: orangered;
    border: solid orangered;
    border-radius: 2.5vw;
    width: 17.5vw;
    height: 3.7vw;
    margin-left: 16vw;
    margin-top: 1.5vw;

}
.ingresar{
    font-family: 'light';
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin-top: 1vw;
}
.texto_pr{
    font-family: 'light';
    font-size: 0.9vw;
    text-align: center;
    margin-top: 2vw;
    position: relative;
}
a{
    color: white;
    text-decoration: none;
}
/*.logo2{
    z-index: 2;
    position: relative;
    top: 25vw;
    left: 44.375vw;
    width: 10.26vw;
    height: 9.167vw;
    animation: anima2 6s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 9s;
    }*/

@media(max-width: 430px){
    @keyframes anima1 {
        0%{opacity: 1;}
        30%{opacity: 1;}
        50%{opacity: 0;}
        70%{opacity: 1;}
        90%{opacity: 1;}
        100%{opacity: 0;}

    }
    body{
        background-color: black;
        background-image: url('../img/fondo.png');
        background-size: 100vw 220vw;
        background-repeat: no-repeat;

    }
    .logo{
        position: relative;
        top: 85vw;
        left: 44.375vw;
        width: 20vw;
        height: 21vw;
        animation: anima1 10s;
        animation-iteration-count: 1;
        opacity: 0;

    }
    .cuadro1{
        border-radius: 3.49vw;
        background-color: white;
        border: solid #707070;
        margin-top: 25vw;
        margin-left: 20vw;
        width: 55vw;
        height: 100vw;
    }
}
